<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>编辑赛事公告</title>
		<meta name="description" content="Common form elements and layouts" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<#include "../../common/head.htm"/>
		<link href="${base}/plugins/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
		<!-- <script type="text/javascript" src="${base}/plugins/uploadify/jquery-1.3.2.min.js"></script> -->
 		<script type="text/javascript" src="${base}/plugins/uploadify/swfobject.js"></script>
		<script type="text/javascript" src="${base}/plugins/uploadify/jquery.uploadify.v2.1.4.min.js"></script>	
	</head>
	<body>
		<div class="container-fluid" id="main-container">
			<div id="main-content" class="clearfix" style="margin-left:0px;">
					<div id="page-content" class="clearfix">
						<div class="row-fluid">
							<!-- PAGE CONTENT BEGINS HERE -->
							<form id="submitForm" class="form-horizontal" action="${base}/notice/findnoticeView.do" method="POST">
								<input type="hidden" name="id" value="${(competitionNoticeDto.id)!}" />
								<input type="hidden" id="content" name="content" value=""/>
								<input type="hidden" id="compIdHidd" name="compIdHidd" value="${(competitionNoticeDto.compId)!}"/>
								<div class="control-group">	
								<label class="control-label" for="form-field-2">所属赛事</label> 	
									<div class="controls">	
									 	<select class="chzn-select" name="compId" id="compId" data-placeholder="所属赛事" style="vertical-align:top;width: 250px;" value="${(competitionNoticeDto.compId)!}">
										<!-- <option value="">无</option> -->
										<#if allComp??> 
									    <#list allComp as item>
									    	<#if item.id == competitionNoticeDto.compId>
									   			<option value="${(item.id)!}" selected='selected'>${(item.title)!}</option>
									   		<#else>
									   			<option value="${(item.id)!}">${(item.title)!}</option>
									   		</#if>
									    </#list> 
									    </#if>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="form-field-1">标题</label>
									<div class="controls">
										<input type="text" name="title" class="span10" id="form-field-1" placeholder="请输入公告标题" value="${(competitionNoticeDto.title)!}">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="form-field-1">简介</label>
									<div class="controls">
										<textarea class="span10" name="summary" id="form-field-8" placeholder="请输入公告简介">${(competitionNoticeDto.summary)!}</textarea>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">内容</label>
									<div class="controls">
										<script id="editor" type="text/plain" style="width:769px;height:300px;">${(competitionNoticeDto.content)!}</script>
									</div>
								</div>
						
								<div class="form-actions">
									<button id='savebutton' class="btn btn-info" type="button"><i class="icon-ok"></i>保存</button>
									&nbsp; &nbsp; &nbsp;
									<button class="btn" type="reset" id="reset-btn"><i class="icon-undo"></i>关闭</button>
								</div>
							 </form>
							<!-- PAGE CONTENT ENDS HERE -->
						 </div><!--/row-->
					</div><!--/#page-content-->
			</div><!-- #main-content -->
		</div><!--/.fluid-container#main-container-->
		<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only"></i>
		</a>
		<!-- basic scripts -->
		<!-- <script src="${base}/static/1.9.1/jquery.min.js"></script> -->
		<script type="text/javascript">
		window.jQuery || document.write("<script src='${base}/static/js/jquery-1.9.1.min.js'>\x3C/script>");
		</script>
		
		<script src="${base}/static/js/bootstrap.min.js"></script>
		<!-- page specific plugin scripts -->
		
		<!--[if lt IE 9]>
		<script type="text/javascript" src="${base}/static/js/excanvas.min.js"></script>
		<![endif]-->
		<script type="text/javascript" src="${base}/static/js/jquery-ui-1.10.2.custom.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/chosen.jquery.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/fuelux.spinner.js"></script>
		<script type="text/javascript" src="${base}/static/js/bootstrap-datepicker.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/bootstrap-timepicker.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/date.js"></script>
		<script type="text/javascript" src="${base}/static/js/daterangepicker.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/bootstrap-colorpicker.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/jquery.autosize-min.js"></script>
		<script type="text/javascript" src="${base}/static/js/jquery.inputlimiter.1.3.1.min.js"></script>
		<!-- ace scripts -->
		<script src="${base}/static/js/ace-elements.min.js"></script>
		<script src="${base}/static/js/ace.min.js"></script>
		<!-- inline scripts related to this page -->
		
	<link href="${base}/plugins/umeditor1.2.2/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="${base}/plugins/umeditor1.2.2/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="${base}/plugins/umeditor1.2.2/umeditor.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="${base}/plugins/umeditor1.2.2/lang/zh-cn/zh-cn.js"></script>		
		
		<!-- layer 弹出框处理 -->
		<script type="text/javascript" src="${base}/plugins/layer2.0/layer.js"></script>
		
		<script type="text/javascript">
		var um = UM.getEditor('editor');
		var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
		var compIdHidd = $("#compIdHidd").val();
		$(function() {
			//赛事下拉框内容
			/* jQuery.ajax({
				url:'${base}/competition/find.do',
				type: 'POST',
				dataType :'json',
				success : function(data){
					 //console.log(data);
					 var jsondata = data.data;
					 if(jsondata != null){
						//var jsondata = eval("("+data+")");
						for(var i = 0;i< jsondata.length;i++){
							var id = jsondata[i].id;
							var title = jsondata[i].title;
						    var opt= '';
						    //console.log("jsondata[i].id=" + jsondata[i].id +";id=" + id);
						    if(compIdHidd === id){
						   		 opt += "<option selected='selected' value='" + id + "'>" + title + "</option>";
						    }else{
						    	 opt += "<option value='" + id + "'>" + title + "</option>";
						    }
							$("#compId").append(opt);
						}
					} 
				}
			}); */
			
			$("#savebutton").on('click',function(){
				var content = UM.getEditor('editor').getContent();
				$("#content").val(content);
				//输入框校验
				var compId = $("[name = compId]").val();
				if (null == compId || '' == compId) {
					layer.alert('所属赛事不能为空~', { icon: 7 });
					return;
				}
				var title = $("[name = title]").val();
				if (null == title || '' == title) {
					layer.alert('赛事公告标题不能为空~', { icon: 7 });
					return;
				}
				if(title.length>40){
					layer.alert('赛事公告标题长度大于40~', { icon: 7 });
					return;
				}
				var summary = $("[name = summary]").val();
				if (null == summary || '' == summary) {
					layer.alert('赛事公告简介不能为空~', { icon: 7 });
					return;
				}
				if(summary.length>200){
					layer.alert('赛事公告简介长度大于200~', { icon: 7 });
					return;
				}
				var content = $("[name = content]").val();
				if (null == content || '' == content) {
					layer.alert('赛事公告内容不能为空~', { icon: 7 });
					return;
				}
				if(content.length>5000){
					layer.alert('赛事公告内容长度大于5000~', { icon: 7 });
					return;
				}
				var ajaxParams = $("#submitForm").serialize();
				$.ajax({
					type : "POST",
					url : "${base}/competition/notice/update.do",
					data : ajaxParams,
					datatype : "json",// "xml", "html", "script", "json", "jsonp", "text".
					beforeSend : function() {
						$("#msg").html("logining");
					},
					success : function(data) {// 成功返回之后调用的函数
						var jsondata = data;// eval('(' + data + ')');
						if(data.status == 200){
							parent.layer.msg('保存成功', {
								shade: [0.9, '#000'],
							    icon: 6,
							    time: 1500 //2秒关闭（如果不配置，默认是3秒）
							}, function(){
								parent.reload_page();
								parent.layer.close(index);
							}); 							
						}else{
							parent.layer.msg('保存出错', {
								shade: [0.9, '#000'],
							    icon: 6,
							    time: 1500 //2秒关闭（如果不配置，默认是3秒）
							}, function(){
							}); 	
						}
						//console.log(data.success);
					},
					complete : function(XMLHttpRequest, textStatus) {// 调用执行后调用的函数
						
					},
					error : function() {// 调用出错执行的函数
					}
				});
			});
			$("#reset-btn").on('click',function(){
				parent.layer.close(index);
			});
		});
		</script>
	</body>
</html>
