<!DOCTYPE html>
<html>
<head>
	<#include "/common/head.htm"/>
</head>

<body>
	<div class="header">
		<#include "/common/header.htm"/>
	
	<div class="wrapper">
		<div class="sub_ban btl">
			<span>${(infoTitle)!}</span>
		</div>
		<div class="news_detail">
			<div class="d_title">
				<p>${(dataInfo.title)!}</p>
				<span>${(dataInfo.createTime?string('yyyy-MM-dd HH:mm'))!}</span>

				<div class="bdsharebuttonbox"><a href="#" class="bds_more share" data-cmd="more">分享</a></div>
				<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":[],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":[]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
								
			</div>
			<div class="d_cont">
				${(dataInfo.content)!}
			</div>
		</div>
		
	</div>
	<script src="static/js/footer.js"></script>
	<script>
	$(function(){	
		setList()
	})
	function setList(){
		$('.news_box ul li:last').css("border","0")
	}
	</script>
</body>
</html>