<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Form Elements - Ace Admin</title>
		<meta name="description" content="Common form elements and layouts" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />		
		<#include "../common/head.htm"/>
		<link href="${base}/static/css/course.css" rel="stylesheet" type="text/css" />
		<link href="${base}/plugins/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
		<!-- <script type="text/javascript" src="${base}/plugins/uploadify/jquery-1.3.2.min.js"></script> -->
 		<script type="text/javascript" src="${base}/plugins/uploadify/swfobject.js"></script>
		<script type="text/javascript" src="${base}/plugins/uploadify/jquery.uploadify.v2.1.4.min.js"></script>	
	</head>
	<body>
		<div class="container-fluid" id="main-container">
			<div id="main-content" class="clearfix" style="margin-left:0px;">
					<div id="page-content" class="clearfix">
						<div class="row-fluid">
							<!-- PAGE CONTENT BEGINS HERE -->
							<form id="submitForm" class="form-horizontal" action="${base}/sport/admin/save.do" method="POST">
								<div class="control-group">
										<label class="course_add_label" for="form-field-1">用户名</label>
										<div class="course_add_input">
											<input type="text" name="account"  id="form-field-1" placeholder="用户名">
										</div>									
								</div>
								<div class="control-group">
										<label class="course_add_label" for="form-field-1">密码</label>
										<div class="course_add_input">
											<input type="password" name="pwd"  id="form-field-1" placeholder="输入密码">
										</div>									
								</div>
								<div class="control-group">
										<label class="course_add_label" for="form-field-1">确认密码</label>
										<div class="course_add_input">
											<input type="password" name="confirmPwd"  id="form-field-1" placeholder="确认密码">
										</div>									
								</div>
								<div class="form-actions">
									<button id='cancel-button' class="btn btn-small"  style="float:right;" type="reset"><i class="icon-undo"></i>关闭</button>
									<button id='savebutton' class="btn btn-small btn-primary" style="float:right; margin-right:20px;"  type="button"><i class="icon-ok"></i>保存</button>
								</div>
							 </form>
							<!-- PAGE CONTENT ENDS HERE -->
						 </div><!--/row-->
					</div><!--/#page-content-->
			</div><!-- #main-content -->
		</div><!--/.fluid-container#main-container-->
		<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only"></i>
		</a>
		<!-- basic scripts -->
		<!-- <script src="${base}/static/1.9.1/jquery.min.js"></script> -->
		<script type="text/javascript">
		window.jQuery || document.write("<script src='${base}/static/js/jquery-1.9.1.min.js'>\x3C/script>");
		</script>
		
		<script src="${base}/static/js/bootstrap.min.js"></script>
		<!-- page specific plugin scripts -->
		
		<!--[if lt IE 9]>
		<script type="text/javascript" src="${base}/static/js/excanvas.min.js"></script>
		<![endif]-->
		<script type="text/javascript" src="${base}/static/js/jquery-ui-1.10.2.custom.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/chosen.jquery.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/fuelux.spinner.js"></script>
		<script type="text/javascript" src="${base}/static/js/bootstrap-datepicker.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/bootstrap-timepicker.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/date.js"></script>
		<script type="text/javascript" src="${base}/static/js/daterangepicker.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/bootstrap-colorpicker.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/jquery.autosize-min.js"></script>
		<script type="text/javascript" src="${base}/static/js/jquery.inputlimiter.1.3.1.min.js"></script>
		<!-- ace scripts -->
		<script src="${base}/static/js/ace-elements.min.js"></script>
		<script src="${base}/static/js/ace.min.js"></script>
		<!-- inline scripts related to this page -->

    <script type="text/javascript" charset="utf-8" src="${base}/plugins/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="${base}/plugins/ueditor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="${base}/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
    
 	<script type="text/javascript" src="${base}/static/js/chosen.jquery.min.js"></script><!-- 下拉框 -->
		
		<!-- layer 弹出框处理 -->
		<script type="text/javascript" src="${base}/plugins/layer2.0/layer.js"></script>
		<script type="text/javascript">
		function customDropDown(ele){
            this.dropdown=ele;
            this.placeholder=this.dropdown.find(".placeholder");
            this.options=this.dropdown.find("ul.dropdown-menu > li");
            this.val='';
            this.index=-1;//默认为-1;
            this.initEvents();
        }
        customDropDown.prototype={
            initEvents:function(){
                var obj=this;
                //这个方法可以不写，因为点击事件被Bootstrap本身就捕获了，显示下面下拉列表
                obj.dropdown.on("click",function(event){
                    $(this).toggleClass("active");
                });
                
                //点击下拉列表的选项
                obj.options.on("click",function(){
                    var opt=$(this);
                    obj.text=opt.find("a").text();
                    obj.val=opt.attr("value");
                    obj.index=opt.index();
                    obj.placeholder.text(obj.text);
                });
            },
            getText:function(){
                return this.text;
            },
            getValue:function(){
                return this.val;
            },
            getIndex:function(){
                return this.index;
            }
        }
        $(document).ready(function(){
            
        });
		UE.getEditor('editor');
		var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
		$(function() {
			var mydropdown=new customDropDown($("#dropdown1"));
			$('#menu').dropdown('toggle')  
			//日期框
			$('.date-picker').datepicker();						
			//关闭iframe
			$('#cancel-button').click(function(){
				parent.layer.close(index);
			});
			
			$("#savebutton").on('click',function(){
				if (null == $("[name=account]").val() || '' == $("[name=account]").val()) {
					layer.alert('用户名不能为空~', { icon: 7 });
					return;
				}
				if (null == $("[name=pwd]").val() || '' == $("[name=pwd]").val()) {
					layer.alert('密码不能为空~', { icon: 7 });
					return;
				}
				if (null == $("[name=confirmPwd]").val() || '' == $("[name=confirmPwd]").val()) {
					layer.alert('确认密码不能为空~', { icon: 7 });
					return;
				}
				if ($("[name=pwd]").val() != $("[name=confirmPwd]").val()) {
					layer.alert('密码不一致，请重新输入~', { icon: 7 });
					return;
				}
				var $chk = $("[name = checkBoxId]:checkbox").filter(":checked");
				var ajaxParams = $("#submitForm").serialize();
				$.ajax({
					type : "POST",
					url : "${base}/admin/save.do",
					data : ajaxParams,
					datatype : "json",// "xml", "html", "script", "json", "jsonp", "text".
					beforeSend : function() {
						$("#msg").html("logining");
					},
					success : function(data) {// 成功返回之后调用的函数
						var jsondata = data;// eval('(' + data + ')');
						if(data.success){
							parent.layer.msg('保存成功', {
								shade: [0.9, '#000'],
							    icon: 6,
							    time: 1500 //2秒关闭（如果不配置，默认是3秒）
							}, function(){
								parent.reload_page();
								var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
								parent.layer.close(index);
							}); 							
						}else{
							parent.layer.msg('保存出错', {
								shade: [0.9, '#000'],
							    icon: 6,
							    time: 1500 //2秒关闭（如果不配置，默认是3秒）
							}, function(){
							}); 	
						}
						//console.log(data.success);
					},
					complete : function(XMLHttpRequest, textStatus) {// 调用执行后调用的函数
						
					},
					error : function() {// 调用出错执行的函数
					}
				});
			});
		});
		</script>
	</body>
</html>
