<!DOCTYPE html>
<html>
<head>
	<#include "/common/head.htm"/>
 	<link type="text/css" href="/static/plugins/layerModel/layerModel.css" rel="stylesheet" />
	<script type="text/javascript" src="/static/plugins/layerModel/jquery.layerModel.js"></script>		
</head>

<body>
	<div class="header">
		<#include "/common/header.htm"/>
	</div>
	
	
	<div class="wrapper">
		<div class="sub_ban">
			<span>专题图集</span>
		</div>
		<div class="video_box">
			<ul>
				<#if pageList ??>
					<#list pageList.getResults() as data>
						<li>
							<a href="###" obj-id="${(data.id)!}"><img src="static/img/simple_v.jpg" border="0"><p><span>${(data.title)!}</span>${(data.createTime?string('yyyy-MM-dd HH:mm'))!}</p><i></i></a>
						</li>
					</#list>
				</#if>			

				<!-- 
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li> 
				-->
			</ul>
		</div>
		<div class="pagenav">
			<#include "/common/pagenav.htm"/>
			<!-- <a href="###"><</a>
			<a class="cur" href="###">1</a>
			<a href="###">2</a>
			<a href="###">3</a>
			<a href="###">4</a>
			<a href="###">5</a>
			<a href="###">6</a>
			<a href="###">></a> -->
		</div>
	</div>
	<script src="/static/js/footer.js"></script>
	<script type="text/javascript">
		
		$(function(){
			//点击打开视频
			$(".video_box li a").on("click", function() {
				var id= $(this).attr("obj-id");
				//clickCount(id);
				$('<iframe width="600px" height="500px;" scrolling="yes" src="/video/toVideo.htm?id='+id+'"></iframe>').layerModel();	
			}); 	
		});
		
		function gotoPage(currPage){
			window.location.href = "/va/v/more.htm?currPage="+currPage;
		}
	</script>	
</body>
</html>
