<!DOCTYPE html>
<html>
<head>
	<#include "/common/head.htm"/>
	<link href="/static/plugins/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/static/plugins/uploadify/swfobject.js"></script>
	<script type="text/javascript" src="/static/plugins/uploadify/jquery.uploadify.v2.1.4.min.js"></script>		
</head>

<body>
	<div class="header">
		<#include "/common/header.htm"/>
		
	<div class="wrapper">
		<div class="enroll_title">填写报名球队信息</div>
		<form id="enroll_form">
			<input type="hidden" id="icon" name="icon"/>
			<input type="hidden" id="createUserId" name="createUserId" value="${(data.id)!}"/>
			<div class="form_box">
				<h2>必填项目</h2>
				<ul>
					<li id="location_area"><label>所在区域：</label>
						<select name="province" class="prov"></select>
						<select name="city" class="city" disabled="disabled"></select>
						<select name="area" class="dist" disabled="disabled"></select>
					</li>
					<li><label>球队名称：</label><input id="team_name" name="name" type="text" placeholder="请输入球队名称"><i>*</i></li>
					<li><label>球队联系人：</label><input id="team_leader" name="contacts" type="text" placeholder="请输入球队联系人"><i>*</i></li>
					<li><label>联系方式：</label><input id="telephone" name="mobile" type="text" placeholder="请输入联系方式"><i>*</i></li>
					<li><label>企业/俱乐部名称：</label><input id="club_name" type="text" placeholder="请输入企业/俱乐部名称"><i>*</i></li>
				</ul>
			</div>
			<div class="form_box">
				<h2>选填项目</h2>
				<ul>
					<li><label>球队主场：</label><input id="address" name="address" type="text" placeholder="请输入球队主场"></li>
					<li><label>成立时间：</label><select id="year"><option disabled selected>---请选择---</option></select><select id="month"><option disabled selected>---请选择---</option></select><select id="day"><option disabled selected>---请选择---</option></select></li>
					<li><label>成员人数：</label><input type="text" placeholder="请输入成员人数"></li>
					<li><label>球队队徽：</label>
						<div class="portrait">
							<img id="team_url" src="/static/img/team_a.png" border="0">
						</div>
					</li>
					<li><label></label>
						<a id="uploadObj" href="###"></a>
					</li>					
					<li><label>团队简介：</label><textarea id="summary" name="summary" placeholder="团队简介"></textarea></li>
					<!-- <li><label>验证码：</label><input class="short" type="text" placeholder="验证码"><img src="/static/img/qc.png" border="0"></li> -->
				</ul>
				<a class="submit" href="###">创建</a>
			</div>
		</form>
	</div>
	<script src="/static/js/footer.js"></script>
	<script src="/static/js/jquery.cityselect.js"></script>
	<script>
			$("#location_area").citySelect({
				url: "/api/addr.htm",
				<#if user ??>
					<#if  user.province?? && user.province != ''>
						prov: ${(user.province)!},
					</#if>
					<#if user.area?? && user.area != ''>
						city: ${(user.area)!},
					</#if>
					<#if user.location?? && user.location != ''>
						dist: ${(user.location)!},
					</#if>
				<#else>
					prov: 1,						
				</#if>
				nodata: "none"
			});
		</script>
	<script>
		$(function(){
			$(".submit").on("click",function(){
				<#if user ??>
				<#else>
					open_login();
					return false;					
				</#if>
				if(!check_form()){
					return false;
				}
				var _param = $("#enroll_form").serialize();
				//console.log("_param"+_param);
				$.ajax({
					url : '/enroll/submit.htm',
					type : 'POST',
					data : _param,
					dataType : 'json',
					success : function(data) {
						if(data.status == 200){
							layer.msg('球队创建成功', {
								  icon: 1,
								  time: 2000 //2秒关闭（如果不配置，默认是3秒）
								}, function(){
									window.location.href = "/index.htm"; 
								});							
							
						}else{
							layer.msg(data.message);
						}
					}
				});				
			});
			
			//验证表单
			function check_form(){
				//登陆名
				var TeamName = $.trim($("#team_name").val());
				if (TeamName.length <= 0) {
					alert_redtext('team_name','队伍名不能为空')
						return false;
				}
				var TeamLeader = $.trim($("#team_leader").val());
				if (TeamLeader.length <= 0) {
					alert_redtext('team_leader','负责人不能为空')
						return false;
				}
				var Telephone = $.trim($("#telephone").val());
				if (Telephone.length <= 0) {
					alert_redtext('telephone','联系方式不能为空')
						return false;
				}
				var ClubName = $.trim($("#club_name").val());
				if (ClubName.length <= 0) {
					alert_redtext('club_name','企业/俱乐部名称不能为空')
						return false;
				}
				return true;
			}
				
			//验证表单错误提示
			function alert_redtext(d,t){
				$('#' +d).focus().siblings('i').html(t).addClass('warning');
			}			
			
			var curyear = 2016, curmonth = 3, curday = 21;
			var _yHtml,_mHtml,_dHtml;
			for(var y=curyear-50;y<curyear;y++){
				_yHtml += '<option>'+ y +'</option>';
			}
			$('#year').append(_yHtml);
			for(var m=1;m<13;m++){
				_mHtml += '<option>'+ m +'</option>';
			}
			$('#month').append(_mHtml);
			for(var d=1;d<32;d++){
				_dHtml += '<option>'+ d +'</option>';
			}
			$('#day').append(_dHtml);
			
			
			$("#uploadObj").uploadify({
	            'uploader': '/static/plugins/uploadify/uploadify.swf',
	            'script':"/file/upload.htm",
	            'cancelImg': '/static/plugins/uploadify/cancel.png',
	            'queueID': 'fileQueue',
	            'auto': true,
	            'multi':true,
	            'buttonText': 'select',
	            //'buttonImg':'/static/plugins/uploadify/picture.png',
	            'simUploadLimit' : 4,
	            'queueSizeLimit' : 4,
	            'sizeLimit':1024*1024*10,
	            'fileExt': '*.gif;*.png;*.jpg',
	            'fileDesc':'请选择gif,png,jpg文件',
	            onComplete: function(event, queueID, fileObj, response, data) {
	                var dataObj = eval("("+response+")");
	                if(dataObj.status == 200){
	                	parent.layer.msg('图片上传成功', {
							shade: [0.9, '#000'],
						    icon: 1,
						    time: 800 //2秒关闭（如果不配置，默认是3秒）
						}, function(){
							//$("<div><img class='uploaded-pic' style='width:100px;height:100px;' src='"+dataObj.filePath+"' alt=''/><a href='##'></a></div>").appendTo($(".uploaded-pic-div"));							
							//$("<input type='hidden' name='pictureList' value="+dataObj.filePath+">").appendTo($("#pictureList"));
						});                
	                	//console.log(dataObj.filePath);
	                	$("#team_url").attr("src",dataObj.filePath);
						$("#icon").val(dataObj.filePath);
	                }else{
	                	layer.msg("文件:" + fileObj.name + "上传失败");
	                }
	            },
	            onSelect:function(){
	            },
	            onError: function(event, queueID, fileObj) {
	                layer.msg("文件:" + fileObj.name + "上传失败");
	            }
	        });				
			
		})
	</script>
</body>
</html>
