<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianfang.message.mapper.NoticeUsersExMapper">
	 <insert id="releaseNotice" parameterType="java.util.List">  
      INSERT INTO sst_notice_users (id, notice_id, user_id, readstat,
	               create_time, last_update_time, stat)
      VALUES 
     <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.id},#{item.noticeId},#{item.userId},#{item.readstat},
         #{item.createTime},#{item.lastUpdateTime},#{item.stat})  
    </foreach> 
  </insert>  

    <select id="getLast" resultType="com.tianfang.message.dto.NoticeDto" parameterType="java.lang.String">
        select b.id,b.title,b.create_user_id as createUserId ,b.to_users as toUsers,b.create_user_name as createUserName,
        b.content,b.group_id as groupId,b.group_name as groupName,b.pic,b.create_time as createTime,b.stat,b.allow_forward as allowForward, 
        a.readstat as ReadStat  
        FROM sst_notice_users as a  
        LEFT JOIN sst_notice as b  
        ON a.notice_id = b.id 
        WHERE a.user_id = #{userId}  a.stat =1 AND b.stat =1 
        ORDER BY b.create_time desc 
        LIMIT 0,1;
    </select>
    
    
     <select id="findNoticeViewByPage" resultType="com.tianfang.message.dto.NoticeDto">
        SELECT b.id,b.title,b.create_user_id AS createUserId ,b.create_user_name AS createUserName,
        b.content,b.group_id AS groupId,b.group_name AS groupName,b.pic,b.create_time AS createTime,b.stat,b.allow_forward AS allowForward, 
        a.readstat AS ReadStat, 
        c.nick_name AS  nickName  
        FROM sst_notice_users AS a    
        LEFT JOIN sst_notice AS b   
        ON a.notice_id = b.id  
        LEFT JOIN sport_user c    
        ON a.user_id = c.id  
        WHERE a.user_id = #{dto.userId} AND b.stat=1 and a.stat =1     
        ORDER BY b.create_time desc  
        LIMIT  #{page.startNum}, #{page.pageSize}
     </select>
    
     <select id="selectAccount" resultType="java.lang.Integer" parameterType="com.tianfang.message.dto.NoticeDto">
	 	SELECT count(*)   
        FROM sst_notice_users as a   
        LEFT JOIN sst_notice as b    
        ON a.notice_id = b.id   
        LEFT JOIN sport_user c    
        ON a.user_id = c.id   
        WHERE a.user_id = #{dto.userId}   AND b.stat=1 and a.stat =1   
	  </select>
	
	  <select id="findMount" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(*) FROM sst_notice a LEFT JOIN sst_notice_users b ON a.id = b.notice_id  WHERE a.id = #{id}   AND b.stat=1 and a.stat =1   
      </select>
      
	   <select id="findRead" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(*) FROM sst_notice a LEFT JOIN sst_notice_users b ON a.id = b.notice_id  WHERE a.id = #{id} and b.readstat =1  AND b.stat=1 and a.stat =1   
     </select>
</mapper> 
