<!DOCTYPE html>
<html>
<head>
	<#include "/common/head.htm"/>
</head>

<body>
	<div class="header">
		<#include "/common/header.htm"/>

	<div class="wrapper">
		<div class="banner_box">
			<div class="slidebox">
				<div id="slider" class="swipe" style="visibility:visible;">
					<div class="swipe-wrap">
						<figure text="1聚焦足总杯-切尔西5-1曼城 阿扎尔1射2聚焦足总杯-切尔西5-1曼城 阿扎尔1射2传传"><img src="/static/img/silde.jpg" border="0"></figure>
						<figure text="2聚焦足总杯-切尔西5-1曼城 阿扎尔1射2聚焦足总杯-切尔西5-1曼城 阿扎尔1射2传传"><img src="/static/img/silde.jpg" border="0"></figure>
						<figure text="3聚焦足总杯-切尔西5-1曼城 阿扎尔1射2聚焦足总杯-切尔西5-1曼城 阿扎尔1射2传传"><img src="/static/img/silde.jpg" border="0"></figure>
						<figure text="4聚焦足总杯-切尔西5-1曼城 阿扎尔1射2聚焦足总杯-切尔西5-1曼城 阿扎尔1射2传传"><img src="/static/img/silde.jpg" border="0"></figure>
					</div>
  				</div>
				<div class="text_tip"><p>z聚焦足总杯-切尔西5-1曼城 阿扎尔1射2聚焦足总杯-切尔西5-1曼城 阿扎尔1射2传传22222222222222</p></div>
				<ul id="position">
					<li class="on"></li>
					<li class=""></li>
					<li class=""></li>
					<li class=""></li>
				</ul>
			</div>
			<div class="hotnews">
				<#if dataMap ?? && dataMap.raceRecord ??>
					<#list dataMap.infomation as data>
						<!-- ${(data_index)!} && ${((data_index)%4)!} -->
						<#if ((data_index) % 4) == 0>
							<div class="row">
							<p class="tit">${(data.title)!}</p>
							<p>
						</#if>
								<a href="###">${(data.title)!}</a> |
							<!-- 	<a href="###">老不如小老不如小 曼城后防天团门将开挂也难救</a> | 
								<a class="red" href="###">真值1亿！蓝军最强真神王者归来</a> | 
								<a href="###">曼城10点超红魔</a> -->
						<#if ((data_index) % 4) == 3>
							</p>
							</div>
							<div class="dot_line"></div>
						</#if>							
					</#list>
				</#if>			
				<!-- <div class="row">
					<p class="tit">1聚焦足总杯-切尔西5-1曼城 阿扎尔1射2传</p>
					<p><a href="###">佩工：2理由致被迫大轮换111111</a> | <a href="###">老不如小老不如小 曼城后防天团门将开挂也难救</a> | <a class="red" href="###">真值1亿！蓝军最强真神王者归来</a> | <a href="###">曼城10点超红魔</a></p>
				</div>
				<div class="dot_line"></div>
				<div class="row">
					<p class="tit">神逆转！曝曼联拒穆帅欲扶正吉格斯 </p>
					<p><a href="###">佩工：2理由致被迫大轮换</a> | <a href="###">老不如小老不如小 曼城后防天团门将开挂也难救</a> | <a class="red" href="###">真值1亿！蓝军最强真神王者归来</a> | <a href="###">曼城10点超红魔</a></p>
				</div>
				<div class="dot_line"></div>
				<div class="row">
					<p class="tit">足总杯八强战抽签：切尔西大战埃弗顿 </p>
					<p><a href="###">佩工：2理由致被迫大轮换</a> | <a href="###">老不如小老不如小 曼城后防天团门将开挂也难救</a> | <a class="red" href="###">真值1亿！蓝军最强真神王者归来</a> | <a href="###">曼城10点超红魔</a></p>
				</div>
				<div class="dot_line"></div> -->
			</div>
		</div>
		
		<div class="main_box">
			<div class="board">
				<div class="left">
					<h3><span>官方信息</span><a href="/info/notice.htm?cur=1">更多</a></h3>
					<ul>
						<#if dataMap ??>
							<#list dataMap.authInfo as data>
								<li><a href="###">${(data.title)!}</a></li>
							</#list>
						</#if>
<!-- 						<li><a href="###">关于举办2015-2016“上超杯”上海业余足球联赛联赛联赛</a></li>
						<li><a href="###">关于足球联赛全国总决赛有关事项的通知</a></li>
						<li><a href="###">关于联赛分区赛和总决赛有关事项的通知</a></li>
						<li><a href="###">关于举办“上超杯”上海业余足球联赛的通知</a></li>
						<li><a href="###">体育之窗携手中超：开启国内足球游戏市场新时代</a></li>
						<li><a href="###">中超第29轮数据：舜天-绿城净时间达61分钟</a></li> -->
					</ul>
				</div>
				<div class="right">
					<h3><span>联赛公告</span><a href="/info/race.htm?cur=1">更多</a></h3>
					<ul>
						<#if dataMap ??>
							<#list dataMap.raceNoteice as data>
								<li><a href="###">${(data.title)!}</a></li>
							</#list>
						</#if>					
<!-- 						<li><a href="###">关于举办2015-2016“上超杯”上海业余足球联赛联赛联赛</a></li>
						<li><a href="###">关于足球联赛全国总决赛有关事项的通知</a></li>
						<li><a href="###">关于联赛分区赛和总决赛有关事项的通知</a></li>
						<li><a href="###">关于举办“上超杯”上海业余足球联赛的通知</a></li>
						<li><a href="###">体育之窗携手中超：开启国内足球游戏市场新时代</a></li>
						<li><a href="###">中超第29轮数据：舜天-绿城净时间达61分钟</a></li> -->
					</ul>
				</div>
			</div>
		
			<div class="pics_box">
				<h2><span>精彩图集</span><a href="/va/index.htm">更多</a></h2>
				<#if dataMap ??>
					<#assign priceClass = ["a","b","c","d"]>
					<#list dataMap.pictures as data>
						<div class="img_${priceClass[data_index]}">
							<img src="${(data.thumbnail)!}" border="0"><span>${(data.title)!}</span>
						</div>
					</#list>
				</#if>
<!-- 				<div class="img_a"><img src="/static/img/simple1.jpg" border="0"><span>苏神一人超阿森纳4名枪 神迹史上第3梅西仰视</span></div>
				<div class="img_b"><img src="/static/img/simple2.jpg" border="0"><span>巴萨2-0客胜阿森纳</span></div>
				<div class="img_c"><img src="/static/img/simple3.jpg" border="0"><span>身价最贵球队难奈</span></div>
				<div class="img_d"><img src="/static/img/simple4.jpg" border="0"><span>身价最贵球队难奈10人鱼腩</span></div> -->
			</div>
		
			<div class="vid_box">
				<h2><span>视频专区</span><a href="/va/index.htm">更多</a></h2>
				<div class="vid_main">			
					<div class="vid_container" id="videoClick"><a href="###" onclick="videoPlay_do();"><img src="static/img/vid.png" border="0"><i></i></a></div>
					<object id="videoPlay" style="display: none;" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="587" height="342">
					    <param name="movie" value="/static/video/splvplayer.swf" />
					    <param name="quality" value="high" />
					    <param name="allowFullScreen" value="true" />
					    <param id="flashVars" name="FlashVars" value="vcastr_file=http://jujusports.cn/upload/20151208/5e33ffe13b69421ba20cd5347c89320e.flv&LogoText=www.jujusports.cn&BufferTime=3&IsAutoPlay=1" />
					    <embed id="flashVarsEmbed" src="/static/video/splvplayer.swf" allowfullscreen="true" flashvars="vcastr_file=http://jujusports.cn/upload/20151208/5e33ffe13b69421ba20cd5347c89320e.flv&LogoText=www.jujusports.cn&BufferTime=3&IsAutoPlay=1" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="587" height="342"></embed>
					</object>
					<div class="picker">
						<div class="pi_wrap">
							<ul move=0>
								<#if dataMap ??>
									<#list dataMap.videos as data>
										<#if data_index lt 6>
											<#if data_index == 0 >
												<li class="cur"><img src="${(data.videoThumb)!}" data-video="${(data.video)!}" border="0" onclick="openVideo(this);"><span>${(data.videoName)!}</span></li>			
											<#else>
												<li><img src="${(data.videoThumb)!}" data-video="${(data.video)!}" border="0" onclick="openVideo(this);"><span>${(data.videoName)!}</span></li>			
											</#if>
										</#if>
									</#list>
								</#if>
							</ul>
						</div>
						<div class="prev"></div>
						<div class="next"></div>
					</div>
					<script type="text/javascript">
						function videoPlay_do(){
							$("#videoClick").css("display","none");
							$("#videoPlay").css("display","");
						}
					</script>					
				</div>
				<ul class="vid_other">
					<#if dataMap ??>
						<#list dataMap.videos as data>
							<#if data_index gt 5 && data_index lt 9>
								<li><img src="${(data.videoThumb)!}" data-video="${(data.video)!}" border="0"><i></i><span>${(data.videoName)!}</span></li>			
							</#if>
						</#list>
					</#if>				
				</ul>
			</div>
			<script type="text/javascript">
				function openVideo(othis){
					var u = document.getElementById("videoPlay").value;
					alert(u);
					$("#videoClick").css("display","none");
					$("#videoPlay").css("display","");
					var flashVars_v = "vcastr_file="+$(othis).attr("data-video")+"&LogoText=www.jujusports.cn&BufferTime=3&IsAutoPlay=1";
					document.getElementById("videoPlay").value = flashVars_v;
					//$("#videoPlay").val(flashVars_v)
				}
			</script>			
			<div class="rl_box">
				<div class="tab"><a class="cur" href="###" tag="match">最新赛程</a> | <a href="###" tag="match_result">最新赛果</a><a class="more" href="###">更多</a></div>
				<div class="match show">
					<ul>
						<#if dataMap ??>
							<#list dataMap.newRace as data>
								<li>
									<img src="${(data.homeTeamIcon)!}" border="0"><span>${(data.homeTeamName)!}</span>
									<span class="vs">VS</span>
									<span>${(data.visitingTeamName)!}</span><img src="${(data.visitingTeamIcon)!}" border="0">
								</li>
							</#list>
						</#if>					
						<!-- <li><img src="/static/img/team_s.png" border="0"><span>阿森纳</span><span class="vs">VS</span><span>曼彻斯特联</span><img src="/static/img/team_a.png" border="0"></li>
						<li><img src="/static/img/team_s.png" border="0"><span>阿森纳</span><span class="vs">VS</span><span>切尔西</span><img src="/static/img/team_a.png" border="0"></li>
						<li><img src="/static/img/team_s.png" border="0"><span>阿森纳</span><span class="vs">VS</span><span>切尔西</span><img src="/static/img/team_a.png" border="0"></li>
						<li><img src="/static/img/team_s.png" border="0"><span>阿森纳</span><span class="vs">VS</span><span>切尔西</span><img src="/static/img/team_a.png" border="0"></li>
						<li><img src="/static/img/team_s.png" border="0"><span>阿森纳</span><span class="vs">VS</span><span>切尔西</span><img src="/static/img/team_a.png" border="0"></li>
						<li><img src="/static/img/team_s.png" border="0"><span>阿森纳</span><span class="vs">VS</span><span>切尔西</span><img src="/static/img/team_a.png" border="0"></li>
						<li><img src="/static/img/team_s.png" border="0"><span>阿森纳</span><span class="vs">VS</span><span>切尔西</span><img src="/static/img/team_a.png" border="0"></li>
						<li><img src="/static/img/team_s.png" border="0"><span>阿森纳</span><span class="vs">VS</span><span>切尔西</span><img src="/static/img/team_a.png" border="0"></li>
						<li><img src="/static/img/team_s.png" border="0"><span>阿森纳</span><span class="vs">VS</span><span>切尔西</span><img src="/static/img/team_a.png" border="0"></li>
						<li><img src="/static/img/team_s.png" border="0"><span>阿森纳</span><span class="vs">VS</span><span>切尔西</span><img src="/static/img/team_a.png" border="0"></li> -->
					</ul>
				</div>
				<div class="match_result">
					<div class="sub_tab"><span class="date">时间</span><span>球队</span><span class="score">比分</span><span>球队</span></div>
					<ul>
						<#if dataMap ??>
							<#list dataMap.newRaceResult as data>
								<li>
									<span class="date">
										${data.matchTime?string("MM-dd")}
									</span>
									<span>${(data.homeTeamName)!}</span>
									<span class="score"><strong>${(data.homeScore)!}</strong>:${(data.visitingScore)!}</span>
									<span>${(data.visitingTeamName)!}</span>
								</li>
							</#list>
						</#if>
<!-- 						<li><span class="date">04/15</span><span>重庆力帆</span><span class="score"><strong>3</strong>:1</span><span>天津泰达亿</span></li>
						<li><span class="date">04/15</span><span>重庆力帆</span><span class="score"><strong>3</strong>:1</span><span>天津泰达亿</span></li>
						<li><span class="date">04/15</span><span>重庆力帆</span><span class="score"><strong>3</strong>:1</span><span>天津泰达亿</span></li>
						<li><span class="date">04/15</span><span>重庆力帆</span><span class="score"><strong>3</strong>:1</span><span>天津泰达亿</span></li>
						<li><span class="date">04/15</span><span>重庆力帆</span><span class="score"><strong>3</strong>:1</span><span>天津泰达亿</span></li>
						<li><span class="date">04/15</span><span>重庆力帆</span><span class="score"><strong>3</strong>:1</span><span>天津泰达亿</span></li>
						<li><span class="date">04/15</span><span>重庆力帆</span><span class="score"><strong>3</strong>:1</span><span>天津泰达亿</span></li>
						<li><span class="date">04/15</span><span>重庆力帆</span><span class="score"><strong>3</strong>:1</span><span>天津泰达亿</span></li>
						<li><span class="date">04/15</span><span>重庆力帆</span><span class="score"><strong>3</strong>:1</span><span>天津泰达亿</span></li>
						<li><span class="date">04/15</span><span>重庆力帆</span><span class="score"><strong>3</strong>:1</span><span>天津泰达亿</span></li> -->
					</ul>
				</div>
				
				<div class="tab"><a class="cur" href="###" tag="match">积分榜</a></div>
				<div class="integr">
					<div class="sub_tab"><span class="date">名次</span><span>球队</span><span class="score">胜/负/平</span><span>积分</span></div>
					<ul>
						<#if dataMap ??>
							<#list dataMap.raceRecord as data>
								<li>
									<span class="date">${(data_index+1)!}</span>
									<span class="name"><img src="${(data.teamIcon)!}" border="0">${(data.teamName)!}</span>
									<span class="score">${(data.win)!}/${(data.lose)!}/${(data.draw)!}</span>
									<span>${(data.win*3+data.draw)!}</span><!-- win*3+draw -->
								</li>
							</#list>
						</#if>						
<!-- 						<li><span class="date">1</span><span class="name"><img src="/static/img/team_n.png" border="0">重庆力帆</span><span class="score">3/12/1</span><span>93</span></li>
						<li><span class="date">2</span><span class="name"><img src="/static/img/team_n.png" border="0">重庆力帆</span><span class="score">3/1/1</span><span>83</span></li>
						<li><span class="date">3</span><span class="name"><img src="/static/img/team_n.png" border="0">重庆力帆</span><span class="score">3/1/1</span><span>73</span></li>
						<li><span class="date">4</span><span class="name"><img src="/static/img/team_n.png" border="0">重庆力帆</span><span class="score">3/1/1</span><span>63</span></li>
						<li><span class="date">5</span><span class="name"><img src="/static/img/team_n.png" border="0">重庆力帆</span><span class="score">3/1/1</span><span>53</span></li>
						<li><span class="date">6</span><span class="name"><img src="/static/img/team_n.png" border="0">重庆力帆</span><span class="score">3/1/1</span><span>43</span></li>
						<li><span class="date">7</span><span class="name"><img src="/static/img/team_n.png" border="0">重庆力帆</span><span class="score">3/1/1</span><span>33</span></li>
						<li><span class="date">8</span><span class="name"><img src="/static/img/team_n.png" border="0">重庆力帆</span><span class="score">3/1/1</span><span>23</span></li>
						<li><span class="date">9</span><span class="name"><img src="/static/img/team_n.png" border="0">重庆力帆</span><span class="score">3/1/1</span><span>13</span></li>
						<li><span class="date">10</span><span class="name"><img src="/static/img/team_n.png" border="0">重庆力帆</span><span class="score">3/1/1</span><span>10</span></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	<#include "/common/foot.htm"/>
	<script src="/static/js/footer.js"></script>
	<script>
	$(function(){	
		setList()

		$(".vid_other li").on("click",function(){
			alert();
		})
		
		$('.nav > ul > li').hover(function(){
			var n = $(this).attr('tag')
			$('.nav > .mark').css('left', n+'px')
		},function(){
			var o = $('.nav > ul > li.cur').attr('tag')
			$('.nav > .mark').css('left', o+'px')
		});
		
		$('.rl_box .tab a').on('click', function(){
			if($(this).attr('class') == 'more'){
				return false;	
			}
			var _tag = $(this).attr('tag')	
			$(this).addClass('cur').siblings().removeClass('cur')
			$('.' + _tag).addClass('show').siblings('.match, .match_result').removeClass('show')
		})
		
		//向左滚动
		$(".prev").on("click", function() {
			moveLeft(".pi_wrap ul", 178);
		});
		//向右滚动
		$(".next").on("click", function() {
			moveRight(".pi_wrap ul", -178);
		});
	})
	
	function setList(){
		$('.rl_box .match ul li:last, .rl_box .integr ul li:last').css('border','0')
		$('.rl_box .match_result ul li:odd').addClass('cl')
		$('.rl_box .integr ul li:first').addClass('cl')
		for(var i=0;i<3;i++){
			$('.rl_box .integr ul').find('li').eq(i).find('.date').addClass('hl')
		}
	}
	
	function moveLeft(selector, distance) {
		var _move = parseInt($(selector).attr('move'))
		var left = _move + distance
		if(_move >= 0){
			left = 0
		}else{
			left = left
		}
		$(selector).css({
			"left": left + "px"
		}).attr('move',left)
	};
	
	function moveRight(selector, distance) {
		var _count = $(selector).find('li').length*178 - 534
		var _move = parseInt($(selector).attr('move'))
		var left = _move + distance
		if(_move <= -_count){
			left = -_count
		}else{
			left = left
		}
		$(selector).css({
			"left": left + "px"
		}).attr('move',left)
	};
	</script>
	<script>
	var slider = Swipe(document.getElementById('slider'), {
    		auto: 3000,
    		continuous: true,
    		callback: function(pos) {

      	var i = bullets.length;
      	while (i--) {
        		bullets[i].className = ' ';
      	}
      		bullets[pos].className = 'on';
			$('.text_tip p').text($('.swipe-wrap').find('figure').eq(pos).attr('text'))
		}
  	});
	var bullets = document.getElementById('position').getElementsByTagName('li');
</script>
</body>
</html>