<!DOCTYPE html>
<html>
<!-- 	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/gif" href="static/img/favicon.ico">
		<title>个人中心</title>
		<script src="static/js/jquery-2.1.3.min.js"></script>
		<script src="static/js/common.js"></script>
		<link href="static/css/regiest.css" rel="stylesheet" />
	</head> -->
<head>
<#include "/common/head.htm"/>
<link href="/static/css/regiest.css" rel="stylesheet" />
<script src="/static/js/AjaxUpload.js"></script>
</head>
	<body>
		<!-- <div class="header">
			<div class="wrapper">
				<div class="topbar">
					<a class="logo" href="###"></a>
					<div class="login_status"><a class="p_center" href="###">个人中心</a> <a href="###">登陆</a> <a href="###">注册</a></div>
				</div>
				<div class="nav">
					<ul>
						<li class="cur" tag="0"><a href="index.html">首 页<br><span>HOME</span></a></li>
						<li tag="140"><a href="index.html">新闻公告<br><span>NEWS</span></a></li>
						<li tag="280"><a href="index.html">数据中心<br><span>DATA</span></a></li>
						<li tag="420"><a href="index.html">视频图集<br><span>VIDEO</span></a></li>
						<li tag="560"><a href="index.html">参赛球队<br><span>TEAM</span></a></li>
						<li tag="700"><a href="index.html">商务合作<br><span>COOPERATION</span></a></li>
					</ul>
					<div class="mark"></div>
					</li>
				</div>
			</div>
		</div> -->
	<div class="header">
		<#include "/common/header.htm"/>
	</div>
		<div class="wrapper">
			<div class="aside">
				<div class="avator">
					<!-- <img class="uimg" src="static/img/title-ico.png" /> -->
					<#if userInfo.pic ??>
						<img class="uimg" src="${(userInfo.pic)!}"/>
					<#else>
						<img class="uimg" src="/static/img/icon-tx.png" />
					</#if>
					<span class="uname">
						${(userInfo.nickName)!}
					</span>
				</div>
				<div class="per-nav">
					<ul>
						<li class="item person cur"><a href="person.html">个人信息</a></li>
						<li class="item safe"><a href="safe.html">账号安全</a></li>
						<li class="item enroll">我的报名</li>
						<li class="item team">我的球队</li>
					</ul>
				</div>
			</div>
			<div class="welcom">
				欢迎来到用户中心！  <a style="color:red;" href="/login/out.htm">登出</a>
				<label>注册时间：</label><span>${(userInfo.createTimeStr)!}</span>
				<label>上次登录时间：</label><span>${(userInfo.lastLoginTimeStr)!}</span>
			</div>
			<form id="userInfo">
			<input type="hidden" id="id" name="id" value="${(userInfo.id)!}">
			<input type="hidden" id="provinceHidd" name="provinceHidd" value="${(userInfo.province)!}">
			<div class="basic">
				<div class="uhd">
					<h1 class="basichd">基本资料<span class="basic-edit" data-status="edit"  style="cursor:pointer;" id="edit">编辑</span></h1>
				</div>
				<div class="ucon">
					<ul class="ucon-form">
						<li>
							<label class="lf" for="">登录名</label>
							<input class="" type="text" name="mobile" id="" value="${(userInfo.mobile)!}" readonly="readonly" />
						</li>
						<li>
							<label class="lf head" for="">头像</label>
									<#if userInfo.pic??>
										<img  class="utouxiang" id="imgShow" src="${(userInfo.pic)!}" border="0"/>
									<#else>
										<img class="utouxiang" id="imgShow" src="/static/img/icon-tx.png" border="0"/>
									</#if>
									<a class="uploadbt hide" href="###" id="user-flag">上传图片</a>
									<input type="hidden" id="hidImgName" name="pic" value="${(userInfo.pic)!}"/> 
							<!-- <#if userInfo.pic ??>
								<img class="utouxiang" src="${(userInfo.pic)!}" />
							<#else>
								<img class="utouxiang" id="imgShow" src="/static/img/icon-tx.png" />
							</#if>
							<a class="uploadbt hide" href="###" id="upload">上传图片</a><input type="hidden" id="hidImgName" />  -->
							
							<!-- <div class="preview">
									<label class="browse" for="team-flag"><img id="imgShow" src="/static/img/preview.png" border="0"/></label>
									<input id="team-flag" type="button" value="浏览图片"> 
							</div> -->
						</li>
						<li>
							<label class="lf" for="">昵称</label>
							<input class="" type="text" name="nickName" id=""  value="${(userInfo.nickName)!}" />
						</li>
						<li>
							<label class="lf" for="">性别</label>
								<#if userInfo.gender == 1>
									<input class="hide" type="radio" name="gender" id="male" value="1" checked="chekced"/>
									<label class="sex male check hide" for="male">男</label>
									<input class="hide" type="radio" name="gender" id="female" value="2" />
									<label class="sex female hide" for="female">女</label>
									<span class="js-sex show-inf">男</span>
								<#elseif userInfo.gender == 2>
									<input class="hide" type="radio" name="gender" id="male" value="1"/>
									<label class="sex male hide" for="male">男</label>
									<input class="hide" type="radio" name="gender" id="female" value="2"  checked="chekced"/>
									<label class="sex female check hide" for="female">女</label>
									<span class="js-sex show-inf">女</span>
								<#else>
									<input class="hide" type="radio" name="gender" id="male" value="1"  checked="chekced"/>
									<label class="sex male check hide" for="male">男</label>
									<input class="hide" type="radio" name="gender" id="female" value="2"/>
									<label class="sex female hide" for="female">女</label>
									<span class="js-sex show-inf"></span>
								</#if>
						</li>
						<li>
							<label class="lf" for="" id="address">所在地</label>
							<!-- <select class="pro hide" name="province" id="province">
							<#if allProvince?? >	
								<option value="" selected="selected">请选择</option>
								<#list allProvince as page>
										<option value="${(page.id)?replace(',','')!}" title="${(page.name)!}">${(page.name)!}</option>
								</#list>
							</#if>
							</select> -->
							<select class="pro hide" name="province" id="province">
							<#if userInfo.provinceStr?? >
								<option value="${(userInfo.province)!}" selected="selected">${(userInfo.provinceStr)!}</option>
							<#else>	
								<option value="">请选择</option>
							</#if>
							</select>
							<select class="city hide" name="area" id="area">
							<#if userInfo.areaStr?? >
								<option value="${(userInfo.area)!}">${(userInfo.areaStr)!}</option>
							<#else>	
								<option value="">请选择</option>
							</#if>
							</select>
							<select class="city hide" name="location" id="location">
							<#if userInfo.areaStr?? >
								<option value="${(userInfo.location)!}">${(userInfo.locationStr)!}</option>
							<#else>	
								<option value="">请选择</option>
							</#if>
							</select>
							<span class="js-addr show-inf">
								${(userInfo.provinceStr)!} &nbsp;${(userInfo.areaStr)!} &nbsp; ${(userInfo.locationStr)!}
							</span>
						</li>
					</ul>
				</div>
			</div>
		</form>
		</div>
<!-- 	<script src="static/js/footer.js"></script>
		<script src="static/js/regiest.js"></script> -->
	</body>
		 <#include "/common/foot.htm"/> 
		 <script src="/static/js/footer.js"></script>
		 <script src="/static/js/regiest.js"></script>
		 <script src="/static/js/person.js"></script>
</html>