<!DOCTYPE html>
<html>

	<head>
		<link href="/static/css/regiest.css" rel="stylesheet" />
		<#include "/common/head.htm"/>
	</head>
	<body>
		<div class="header">
			<#include "/common/header.htm"/>
		</div>

		<div class="wrapper">
			<div class="aside">
				<div class="avator">
					<#if userInfo??>
						<img class="uimg" src="${(userInfo.pic)!}"/>
						<#else>
							<img class="uimg" src="/static/img/icon-tx.png" />
					</#if>
					<span class="uname">
						${(userInfo.nickName)!}
					</span>
				</div>
				<div class="per-nav">
					<ul>
						<li class="item person"><a href="person.html">个人信息</a></li>
						<li class="item safe cur"><a href="safe.html">账号安全</a></li>
						<li class="item enroll">我的报名</li>
						<li class="item team">我的球队</li>
					</ul>
				</div>
			</div>
			<div class="welcom">
				欢迎来到用户中心！
				<label>注册时间：</label><span>${(userInfo.createTimeStr)!}</span>
				<label>上次登录时间：</label><span>${(userInfo.lastLoginTimeStr)!}</span>
			</div>
			<div class="safeD">
				<div class="uhd">
					<h1 class="basichd">账号安全</h1>
				</div>
				<div class="usafe">
					<ul class="usafe-form">
						<li class="bod">
							<h2 class="usafehd">修改密码</h2>
							<label class="usafecen" for="change_pwd_span">已设置安全密码</label>
							<span class="usafert" id="change_pwd_span">设置</span>
							<div class="usafetip hide">
								<form action="" id="change_pwd_form">
									<ul class="usafe-credential">
										<li>
											<label for="oldPwd">原密码</label>
											<input type="password" name="oldPwd" id="oldPwd" value="" placeholder="请填写原密码" />
										</li>
										<li>
											<label for="newPwd">新密码</label>
											<input type="password" name="newPwd" id="newPwd" value="" placeholder="请填写新密码" />
										</li>
										<li>
											<label for="newPwd2">确认新密码</label>
											<input type="password" name="newPwd2" id="newPwd2" value="" placeholder="请确认新密码" />
										</li>
									</ul>
									<a class="savebt" id="change_pwd_btn" href="###">保存</a>
								</form>
							</div>
						</li>
						<li class="bod">
							<h2 class="usafehd">安全提醒</h2>
							<label id="change_reminding_label" class="usafecen <#if reminding == 0>safe-not</#if>" for="change_reminding_span"><#if reminding == 0>未<#else>已</#if>设置安全提醒</label>
							<span class="usafert" id="change_reminding_span" data-show="fase">设置</span>
							<div class="usafetip hide">
								<form action="" id="change_reminding_form">
									<input type="hidden" name="id" value="${(noti.id)!}"/>
									<h3 class="usafetipa">当账号进行安全相关的操作时，会接受提醒消息，实时掌握账号安全动态。</h3>
									<h4 class="usafetipb">修改密码</h4>
									<div class="usafetipc">
										<label class="mobile1 <#if ((noti.upPasswordStat)!3) == 1>cur</#if>" for="mobile1">手机提醒</label>
										<input class="hide" type="radio" name="upPasswordStat" id="mobile1" value="1" <#if ((noti.upPasswordStat)!3) == 1>checked="checked"</#if> />
										<label class="email1 <#if ((noti.upPasswordStat)!3) == 2>cur</#if>" for="email1">邮件提醒</label>
										<input class="hide" type="radio" name="upPasswordStat" id="email1" value="2" <#if ((noti.upPasswordStat)!3) == 2>checked="checked"</#if>/>
										<label class="no1 <#if ((noti.upPasswordStat)!3) == 3>cur</#if>" for="no1">不提醒</label>
										<input class="hide" type="radio" name="upPasswordStat" id="no1" value="3" <#if ((noti.upPasswordStat)!3) == 3>checked="checked"</#if>/>
									</div>
									<h4 class="usafetipb">设置登录保护</h4>
									<div class="usafetipc">
										<label class="mobile1 <#if ((noti.loginStat)!3) == 1>cur</#if>" for="mobile2">手机提醒</label>
										<input class="hide" type="radio" name="loginStat" id="mobile2" value="1" <#if ((noti.loginStat)!3) == 1>checked="checked"</#if>/>
										<label class="email2 <#if ((noti.loginStat)!3) == 2>cur</#if>" for="email2">邮件提醒</label>
										<input class="hide" type="radio" name="loginStat" id="email2" value="2" <#if ((noti.loginStat)!3) == 2>checked="checked"</#if>/>
										<label class="no2 <#if ((noti.loginStat)!3) == 3>cur</#if>" for="no2">不提醒</label>
										<input class="hide" type="radio" name="loginStat" id="no2" value="3" <#if ((noti.loginStat)!3) == 3>checked="checked"</#if> />
									</div>
									<h4 class="usafetipb">异地登录</h4>
									<div class="usafetipc">
										<label class="mobile1 <#if ((noti.nonlocalLoginStat)!3) == 1>cur</#if>" for="mobile3">手机提醒</label>
										<input class="hide" type="radio" name="nonlocalLoginStat" id="mobile3" value="1" <#if ((noti.nonlocalLoginStat)!3) == 1>checked="checked"</#if>/>
										<label class="email3 <#if ((noti.nonlocalLoginStat)!3) == 2>cur</#if>" for="email3">邮件提醒</label>
										<input class="hide" type="radio" name="nonlocalLoginStat" id="email3" value="2" <#if ((noti.nonlocalLoginStat)!3) == 2>checked="checked"</#if>/>
										<label class="no3 <#if ((noti.nonlocalLoginStat)!3) == 3>cur</#if>" for="no3">不提醒</label>
										<input class="hide" type="radio" name="nonlocalLoginStat" id="no3" value="3" <#if ((noti.nonlocalLoginStat)!3) == 3>checked="checked"</#if> />
									</div>
									<a class="savebt" id="change_reminding_btn" href="###">保存</a>
								</form>
							</div>
						</li>
						<li class="bod">
							<h2 class="usafehd">安全邮箱</h2>
							<label class="usafecen <#if settingEmail == 0>safe-not</#if>" id="change_email_label"  for="change_email_span"><#if settingEmail == 0>未<#else>已</#if>设置安全邮箱</label>
							<span class="usafert" id="change_email_span" data-fill="<#if settingEmail == 0>false<#else>true</#if>"><#if settingEmail == 0>设置<#else>更换安全邮箱</#if></span>
							<div class="usafetip hide">
								<form action="" id="change_email_form">
								<input type="hidden" name="id" value="${(noti.id)!}"/>
									<ul class="usafe-credential">
										<li>
											<label for="email">安全邮箱</label>
											<input type="text" name="email" id="email" value="${(noti.email)!}" placeholder="请填写安全邮箱" />
										</li>
									</ul>
									<a class="savebt" id="change_email_btn" href="###">保存</a>
								</form>
							</div>
						</li>
						<li class="bod">
							<h2 class="usafehd">证件信息</h2>
							<label id="change_paper_label" class="usafecen <#if paper == 0>safe-not</#if>" for=""><#if paper == 0>未<#else>已</#if>填写证件信息</label>
							<span class="usafert" id="change_paper_span">设置</span>
							<div class="usafetip hide">
								<form action="" id="change_paper_form">
									<ul class="usafe-credential">
										<li>
											<label for="cname">真实姓名</label>
											<input type="text" name="cname" id="cname" value="${(user.cname)!}" placeholder="请填写真实的名字" />
										</li>
										<li id="location_area">
											<label>所在地区</label>
											<select name="province" class="prov"></select>
											<select name="area" class="city" disabled="disabled"></select>
											<select name="location" class="dist" disabled="disabled"></select>
										</li>
										<li>
											<label for="detailedAddress">详细地址</label>
											<input type="text" name="detailedAddress" id="detailedAddress" value="${(user.detailedAddress)!}" placeholder="请填写地址信息" />
										</li>
										<li>
											<label for="postcode">邮政编码</label>
											<input type="text" name="postcode" id="postcode" value="${(user.postcode)!}" placeholder="请填写邮编信息" />
										</li>
										<li>
											<label for="mobile">手机号码</label>
											<input type="text" readonly="readonly" id="mobile" value="${(user.mobile)!}" placeholder="请填写手机号码" />
										</li>
										<li>
											<label for="telephone">座机号码</label>
											<input type="text" name="telephone" id="telephone" value="${(user.telephone)!}" placeholder="座机号码" />
										</li>
									</ul>
									<a class="savebt" id="change_paper_btn" href="###">保存</a>
								</form>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="/static/js/footer.js"></script>
		<script src="/static/js/jquery.cityselect.js"></script>
		<script src="/static/js/safe.js"></script>
		<script>
			$("#location_area").citySelect({
				url: "/api/addr.htm",
				<#if  user.province?? && user.province != ''>
					prov: ${(user.province)!},
				</#if>
				<#if user.area?? && user.area != ''>
					city: ${(user.area)!},
				</#if>
				<#if user.location?? && user.location != ''>
					dist: ${(user.location)!},
				</#if>
				nodata: "none"
			});
		</script>
	</body>

</html>