<!DOCTYPE html>
<html>
<head>
	<#include "/common/head.htm"/>
	<script src="/static/js/layer-1.9/extend/layer.ext.js"></script>
	<link type="text/css" href="/static/plugins/layerModel/layerModel.css" rel="stylesheet" />
	<script type="text/javascript" src="/static/plugins/layerModel/jquery.layerModel.js"></script>	
</head>
<body>
	<div class="header">
		<#include "/common/header.htm"/>

	<div class="wrapper">
		<div class="sub_ban">
			<span>专题图集</span>
			<a href="/va/a/more.htm">更多</a>
		</div>
		<div class="pics_box">
			<ul>
				<#if dataMap ??>
					<#list dataMap.pictures as data>
						<li>
							<a href="###" rel="list" albumId-id='${(data.id)!}' class="lightbox">
								<img src="${(data.thumbnail)!}" border="0"><p><span>${(data.title)!}</span>${(data.createTime?string('yyyy-MM-dd HH:mm'))}</p>
							</a>
						</li>
					</#list>
				</#if>
<!-- 				<li><a href="###"><img src="static/img/simple.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p></a></li>
				<li><a href="###"><img src="static/img/simple.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p></a></li>
				<li><a href="###"><img src="static/img/simple.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p></a></li>
				<li><a href="###"><img src="static/img/simple.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p></a></li>
				<li><a href="###"><img src="static/img/simple.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p></a></li>
				<li><a href="###"><img src="static/img/simple.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p></a></li>
				<li><a href="###"><img src="static/img/simple.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p></a></li>
				<li><a href="###"><img src="static/img/simple.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p></a></li> -->
			</ul>
		</div>
		<div class="sub_ban">
			<span>视频专区</span>
			<a href="/va/v/more.htm">更多</a>
		</div>
		<div class="video_box">
			<ul>
				<#if dataMap ??>
					<#list dataMap.videos as data>
							<li>
								<a href="###" obj-id="${(data.id)!}"><img src="${(data.videoThumb)!}" data-video="${(data.video)!}" border="0"><p><span>${(data.videoName)!}</span>${(data.createTime?string('yyyy-MM-dd HH:mm'))}</p><i></i></a>
							</li>
							<!-- <li><img src="${(data.videoThumb)!}" data-video="${(data.video)!}" border="0"><i></i><span>${(data.videoName)!}</span></li> -->			
					</#list>
				</#if>			
<!-- 				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
				<li><a href="###"><img src="static/img/simple_v.jpg" border="0"><p><span>西行漫记  完美赢家T9凑齐人生最后一拼图凑齐人生最后一拼图</span>2016-02-25 04:21:58</p><i></i></a></li>
 -->		</ul>
		</div>
	</div>
	<script src="/static/js/footer.js"></script>
	<script type="text/javascript">
		$(function() {
			
				//点击打开视频
			$(".video_box li a").on("click", function() {
				var id= $(this).attr("obj-id");
				//clickCount(id);
				$('<iframe width="600px" height="500px;" scrolling="yes" src="/video/toVideo.htm?id='+id+'"></iframe>').layerModel();	
			}); 				
		
			$('.lightbox').each(function(index){
				$(this).click(function() {
					var albumId = $(this).attr('albumId-id');
					$.getJSON('/va/fpicList.htm?albumId='+albumId, function(json){
						console.log(json);
					    layer.photos({
					        photos: json //格式见API文档手册页
					    });
					});
				});
			});
		});
	</script>	
</body>
</html>