<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianfang.user.mapper.GroupUserExMapper" >
  <select id="findUsersByGroupId" resultType="com.tianfang.user.dto.UserDto" parameterType="java.lang.String" >
  	SELECT b.area AS area ,b.id AS id, b.nick_name AS nickName, b.pic AS pic, b.team_id AS teamId, b.gender AS gender, b.province AS province, b.location as location, b.detailed_address as detailedAddress, b.birthday AS birthday, b.password AS password, b.mobile AS mobile, b.create_time AS createTime, b.last_update_time AS lastUpdateTime, b.stat AS stat
	FROM sst_group_user AS a, sport_user AS b
	WHERE a.user_id = b.id AND a.stat = 1 AND b.stat = 1 AND a.group_id = #{groupId}
  </select>

	<insert id="insertBatchGroupUser" parameterType="java.util.List">
		insert into sst_group_user (id, group_id, user_id,
		create_time, stat)
		values
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.id},#{item.groupId},#{item.userId},#{item.createTime},#{item.stat})
		</foreach>
	</insert>

</mapper>