<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianfang.user.mapper.PlanExMapper" >
	<update id="batchUpdate"  parameterType="com.tianfang.user.dto.PlanDto">
      	update sst_plan set stat = 0 
      	<where>
      	  	stat = 1
	      	<if test="params.userId != null and params.userId != ''">
				and user_id = #{params.userId}
		   </if>
		   <if test="params.isFinish != null">
				and is_finish = #{params.isFinish}
		   </if>
		   <if test="params.startTime != null">
				and plan_time <![CDATA[>=]]>   #{params.startTime}
		   </if>
		   <if test="params.endTime != null">
				and plan_time <![CDATA[<]]>   #{params.endTime}
		   </if>
      	</where>
    </update>
</mapper>