<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianfang.user.mapper.UserExMapper" >
	<select id="findFriendsByUserId" resultType="com.tianfang.user.app.FriendApp" parameterType="java.lang.String">
	   	SELECT a.id, a.user_id AS userId, d.mobile AS userMobile, c.id AS friendId, c.nick_name AS nickName, c.pic AS pic, c.mobile AS friendMobile, a.care AS care 
		FROM sst_user_friend AS a 
		JOIN sport_user AS c ON c.id = a.friend_id AND c.stat = 1 
		JOIN sport_user AS d ON d.id = a.user_id AND d.stat = 1 
		WHERE a.user_id = #{userId} AND a.stat = 1
	</select>
	
	<select id="findCareFriends" resultType="com.tianfang.user.app.FriendApp" parameterType="java.lang.String">
		SELECT a.id, a.user_id AS userId,d.mobile AS userMobile, c.id AS friendId, c.nick_name AS nickName, c.pic AS pic, c.mobile AS friendMobile, a.care AS care 
		FROM sst_user_friend AS a 
		JOIN sport_user AS c ON c.id = a.friend_id AND c.stat = 1 
		JOIN sport_user AS d ON d.id = a.user_id AND d.stat = 1 
		WHERE a.user_id = #{userId} AND a.stat = 1 AND a.care = 1
	</select>
	
	<select id="findUserByGroupId" resultType="com.tianfang.user.dto.UserDto" parameterType="java.lang.String">
		SELECT a.mobile FROM sport_user a 
		WHERE a.id IN (SELECT user_id FROM sst_group_user b WHERE b.group_id = #{groupId} AND b.stat = 1)
		AND a.stat = 1
	</select>
	
	<select id="findUserInfo" resultType="com.tianfang.user.dto.UserDto" parameterType="com.tianfang.user.dto.UserDto">
		SELECT a.id, a.email,a.mobile, a.nick_name as nickName,a.gender,a.utype,a.province,a.area, a.location, a.pic ,  a.last_login_time as lastLoginTime,
		a.last_update_time as lastUpdateTime, a.create_time as createTime, a.stat, a.birthday, b.id as teamId, b.name as teamName
		FROM sport_user a
		Left JOIN sst_team b
		ON a.team_id = b.id
		WHERE a.id = #{id} AND a.stat = 1
	</select>
</mapper>