<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Tables - Ace Admin</title>
		<meta name="description" content="Static & Dynamic Tables" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<#include "../common/head.htm"/>
	</head>
	<body>
		<!-- tophead start-->
			<#include "../common/topHead.htm"/>	
		<!-- tophead end-->
		<div class="container-fluid" id="main-container">
			<a href="#" id="menu-toggler"><span></span></a><!-- menu toggler -->
			<!-- left menu  start -->
			<#include "../common/left.htm"/>
			<!-- left menu  end -->
			<div id="main-content" class="clearfix">
					<div id="breadcrumbs">
						<ul class="breadcrumb">
						</ul>
					</div><!--#breadcrumbs-->
					<div id="page-content" class="clearfix">
						<div class="row-fluid">
							<!-- PAGE CONTENT BEGINS HERE -->
							<div class="row-fluid">
								<form action="${base}/eva/list.do" method="post" name="submitForm" id="submitForm">
									<input type="hidden" id="currPage" name="page" value="${(pageList.currPage)!}"/>
									<table border="0">
										<tbody><tr>
											<td>
												<span class="input-icon">
													<input autocomplete="off" id="nav-search-input" type="text" name="title" value="${(evaluatDto.title)!}" placeholder="标题">
													<i id="nav-search-icon" class="icon-search"></i>
												</span>
											</td>
											<td style="vertical-align:top;"><button class="btn btn-mini btn-light" onclick="search();" title="检索"><i id="nav-search-icon" class="icon-search">检索</i></button></td>
											<!-- <td style="vertical-align:top;"><a class="btn btn-mini btn-light" onclick="toExcel();" title="导出到EXCEL"><i id="nav-search-icon" class="icon-download-alt"></i></a></td> -->
										</tr>
									</tbody></table>				
									<table id="table_report" class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th class="center" style="width:5%;">
													<label><input type="checkbox" /><span class="lbl"></span></label>
												</th>
												<th>缩略图</th>
												<th>测评标题</th>
												<th>参与人数</th>
												<th>本测评总分</th>
												<th>本测评类型</th>
												<th>排序</th>
												<th class="hidden-phone"><i class="icon-time hidden-phone"></i>创建时间</th>
												<th>状态</th>
												<th style="width:20%;">操作</th>
											</tr>
										</thead>
										<tbody>
											<#if pageList??>
												<#list pageList.results as page>
													<tr>
														<td class='center'>
															<label><input name="checkBoxId" value="${(page.id)!}" type='checkbox' /><span class="lbl"></span></label>
														</td>
														<td><img style="width:30px;height:30px;" src="${(imgurl)!}${(page.thumbnail)!}"></td>
														<td>${(page.title)!}</td>
														<td>${(page.joinNumber)!}</td>
														<td>${(page.sumScore)!}</td>
														<td>
															<#if page.evaType ==1>
																健康评测
															<#else>
																身体评测
															</#if>
														</td>
														<td><input style="width:50px;" value="${(page.orderBy)!}"/></td>
														<td class='hidden-phone'>${(page.createTime?string("yyyy-MM-dd HH:mm:ss"))!}</td>
														<td>
															<#if page.stat ==1>
																<span class="label label-success">${statusMap[page.stat?c]}</span>
															<#else>
																<span class="label label-warning">${statusMap[page.stat?c]}</span>
															</#if>
														</td>
														<td>
															<div id="operation" class='hidden-phone visible-desktop btn-group'>
																<a id='editObj' data-obj-id="${(page.id)!}" class='btn btn-mini btn-warning' style="margin-left:5px;" title="编辑">编辑</a>
																<#if page.stat ==1>
																	<a id='deleteObj' data-obj-id="${(page.id)!}" data-obj-val='0' class='btn btn-mini btn-danger' style="margin-left:5px;" title="删除">删除</a>
																<#else>
																	<a id='deleteObj' data-obj-id="${(page.id)!}" data-obj-val='1' class='btn btn-mini btn-success' style="margin-left:5px;" title="还原">还原</a>
																</#if>
																<a id='addQuestion' data-obj-id="${(page.id)!}" class='btn btn-mini btn-success' style="margin-left:5px;" title="添加题目">添加题目</a>
																<a id='addScore' data-obj-id="${(page.id)!}" class='btn btn-mini btn-info' style="margin-left:5px;" title="添加结果">添加结果</a>
															</div>
														</td>
													</tr>
												</#list>
											</#if>
										</tbody>
									</table>

									<div class="page-header position-relative">
										<table style="width:100%;">
											<tbody><tr>
												<td style="vertical-align:top;">
													<a id="add" class="btn btn-small btn-success">新增</a>
												</td>
												<td style="vertical-align:top;">
													<div class="pagination" style="float: right;padding-top: 0px;margin-top: 0px;">	
														<ul>
															<li><a>共<font color="red">${(pageList.total)!}</font>条</a></li>
															<li><input type="number" value="" id="toGoPage" style="width:50px;text-align:center;float:left" placeholder="页码"></li>
															<li style="cursor:pointer;"><a onclick="gotoPage();" class="btn btn-mini btn-success">跳转</a></li>
															<!-- <li><a onclick="gotoPage(1);" class="btn btn-primary">首页</a></li> -->
															<li><a onclick="gotoPage('up');"  class="btn btn-primary">上页</a></li>
															<li><a onclick="gotoPage('down');" class="btn btn-primary">下页</a></li>																																	
															<!-- <li><a onclick="gotoPage();" class="btn btn-primary">尾页</a></li> -->
															<li><a>第${(pageList.currPage)!}页</a></li>
														</ul>
													</div>
												</td>
												</tr>
											</tbody>
										</table>
									</div>				
								</form>
							</div>
						 		<script type="text/javascript">
								function search(){
									$("#submitForm").submit();
								}
								function gotoPage(pageType){
									var currP = parseInt($("#currPage").val());
									var totalPage = Math.ceil(${(pageList.total/pageList.pageSize)!});
									if(pageType=='up'){
										if(currP==1){
											var currPage = parseInt(1);
										}else{
											var currPage = parseInt($("#currPage").val())-1;	
										}
										$("#currPage").val(currPage);	
									}else if(pageType=='down'){
										if(currP==totalPage){
											var currPage = parseInt(totalPage);
										}else{
											var currPage = parseInt($("#currPage").val())+1;	
										}
										$("#currPage").val(currPage);
									}
									$("#submitForm").submit();
								}
								</script>
						<!-- PAGE CONTENT ENDS HERE -->
						 </div><!--/row-->
					</div><!--/#page-content-->
			</div><!-- #main-content -->
		</div><!--/.fluid-container#main-container-->
		<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only"></i>
		</a>
		<!-- basic scripts -->
		<script src="${base}/static/1.9.1/jquery.min.js"></script>
		<script type="text/javascript">
		window.jQuery || document.write("<script src='${base}/static/js/jquery-1.9.1.min.js'>\x3C/script>");
		</script>
		
		<script src="${base}/static/js/bootstrap.min.js"></script>
		<!-- page specific plugin scripts -->
		
		<script type="text/javascript" src="${base}/static/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/jquery.dataTables.bootstrap.js"></script>
		<!-- ace scripts -->
		<script src="${base}/static/js/ace-elements.min.js"></script>
		<script src="${base}/static/js/ace.min.js"></script>
		<!-- inline scripts related to this page -->
		
		<script type="text/javascript" src="${base}/static/js/chosen.jquery.min.js"></script><!-- 下拉框 -->
		<script type="text/javascript" src="${base}/static/js/bootstrap-datepicker.min.js"></script><!-- 日期框 -->
		<script type="text/javascript" src="${base}/static/js/bootbox.min.js"></script><!-- 确认窗口 -->
		
		<script type="text/javascript" src="${base}/plugins/layer2.0/layer.js"></script>
		
		<script type="text/javascript">
		function reload_page(){
			window.location.reload();//刷新当前页面
		}
		$(function() {
			
			$("#operation #addQuestion").on('click',function(){
				var evaId = $(this).attr("data-obj-id");
				//iframe层-父子操作
				layer.open({
				    type: 2,
				    area: ['1000px', '750px'],
				    offset: '50px',
				    fix: true, //不固定
				    maxmin: false,
				    content: '${base}/eva/question/addQuestion.do?evaId='+evaId,
				    cancel: function(index){
				    	window.location.reload();//刷新当前页面
				    }
				});				
			});
			
			$("#operation #addScore").on('click',function(){
				var evaId = $(this).attr("data-obj-id");
				//iframe层-父子操作
				layer.open({
				    type: 2,
				    area: ['500px', '650px'],
				    offset: '50px',
				    fix: true, //不固定
				    maxmin: false,
				    content: '${base}/eva/score/addScore.do?evaId='+evaId,
				    cancel: function(index){
				    	window.location.reload();//刷新当前页面
				    }
				});				
			});			
			
			$("#operation #editObj").on('click',function(){
				var id = $(this).attr("data-obj-id");
				//iframe层-父子操作
				layer.open({
				    type: 2,
				    area: ['500px', '650px'],
				    fix: true, //不固定
				    maxmin: false,
				    content: '${base}/eva/edit.do?id='+id
				});				
			});
			$("#operation #deleteObj").on('click',function(){
				var id = $(this).attr("data-obj-id");
				var svalue = $(this).attr("data-obj-val");
				layer.confirm('确定要操作吗？', {icon: 3}, function(index){
				$.ajax({
		             type: "POST",
		             url: "${base}/eva/delById.do",
		             data: {id:id,svalue:svalue},
		             dataType: "json",
		             success: function(data){
		            	 if(data.status==200){
	            			layer.msg('数据处理成功', {
	            				shade: [0.9, '#000'],
	            			    icon: 6,
	            			    time: 1500 //2秒关闭（如果不配置，默认是3秒）
	            			}, function(){
	            			    //do something
	            				reload_page();
	            			});		            		 
		            	 }else{
	            			layer.msg('数据处理失败', {
	            				shade: [0.9, '#000'],
	            			    icon: 6,
	            			    time: 1500 //2秒关闭（如果不配置，默认是3秒）
	            			},function(){
	            				return;
	            			});
		            	 }
		             }
		         });
				});				
			});
			//日期框
			$('.date-picker').datepicker();			
			//下拉框
			$(".chzn-select").chosen(); 
			$(".chzn-select-deselect").chosen({allow_single_deselect:true}); 
			
			
			$("#add").on('click',function(){
				//iframe层-父子操作
				layer.open({
				    type: 2,
				    area: ['500px', '650px'],
				    fix: true, //不固定
				    maxmin: false,
				    content: '${base}/eva/add.do'
				});
			});
			
			//复选框
			$('table th input:checkbox').on('click' , function(){
				var that = this;
				$(this).closest('table').find('tr > td:first-child input:checkbox')
				.each(function(){
					this.checked = that.checked;
					$(this).closest('tr').toggleClass('selected');
				});
					
			});
		});
		</script>
	</body>
</html>