<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>赛事动态列表</title>
<meta name="description" content="Static & Dynamic Tables" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<#include "../../common/head.htm"/>
</head>
<body>
	<!-- tophead start-->
	<#include "../../common/topHead.htm"/>
	<!-- tophead end-->
	<div class="container-fluid" id="main-container">
		<a href="#" id="menu-toggler"><span></span></a>
		<!-- menu toggler -->
		<!-- left menu  start -->
		<#include "../../common/left.htm"/>
		<!-- left menu  end -->
		<div id="main-content" class="clearfix">
			<div id="breadcrumbs">
				<ul class="breadcrumb">
				</ul>
			</div>
			<!--#breadcrumbs-->
			<div id="page-content" class="clearfix">
				<div class="row-fluid">
					<!-- PAGE CONTENT BEGINS HERE -->
					<div class="row-fluid">
						<form action="${base}/competition/news/findCompNewsView.do" method="post"
							name="submitForm" id="submitForm">
							<input type="hidden" id="currPage" name="page"
								value="${(pageList.currPage)!}" />
							<table border="0">
								<tbody>
									<tr>
										<td style="vertical-align: top;">
										<select class="chzn-select" name="compId" id="compId"
											data-placeholder="所属球队" style="vertical-align: top; width: 250px;">
												<option value="">全部赛事</option> 
												<!-- <#if allComp??> <#list allComp as t>
													<option value="${(t.id)!}">${(t.title)!}</option> </#list>
												</#if> -->
												<#if allComp??>
													<#list allComp as d>
														<#if competitionNewsDto.compId??>
															<#if competitionNewsDto.compId == d.id>
																<option selected="selected" value="${(d.id)!}">${(d.title)!}</option>
															<#else>
																<option value="${(d.id)!}">${(d.title)!}</option>
															</#if>
														<#else>
															<option value="${(d.id)!}">${(d.title)!}</option>
														</#if>
													</#list>
												</#if>
										</select>
										</td>
										<td>
											<span class="input-icon"> 
											<input autocomplete="off" id="nav-search-input" type="text" name="title""
													placeholder="动态标题" value="${(competitionNewsDto.title)!}"> 
													<i id="nav-search-icon" class="icon-search"></i>
											</span>
										</td>
										<!-- <td><input class="span10 date-picker" name="startTimeStr"
											id="createTimeS" type="text" data-date-format="yyyy-mm-dd"
											readonly="readonly" style="width: 88px;" placeholder="开始时间"
											title="查询开始时间" /></td>
										<td><input class="span10 date-picker" name="endTimeStr"
											id="createTimeE" " type="text" data-date-format="yyyy-mm-dd"
											readonly="readonly" style="width: 88px;" placeholder="截止时间"
											title="查询截止时间"></td> -->
										<td style="vertical-align: top;"><button
												class="btn btn-mini btn-light" onclick="search();"
												title="检索">
												<i id="nav-search-icon" class="icon-search">检索</i>
											</button></td>
									</tr>
								</tbody>
							</table>
							<table id="table_report"
								class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th style="width:50px;" class="center"><label><input type="checkbox" /><span
												class="lbl"></span></label></th>
										<th style="width:200px;" class="center">赛事名称</th>
										<th style="width:80px;" class="center">动态标题</th>
										<th style="width:80px;" class="center">动态图片</th>
										<th style="width:80px;" class="center">动态简介</th>
										<th style="width:80px;" class="center">创建人</th>
										<th style="width:100px;"><i class="icon-time hidden-phone"></i> 创建时间</th>
										<th style="width:150px;">操作</th>
									</tr>
								</thead>

								<tbody>
									<#if pageList??> <#list pageList.results as page>
									<tr>
										<td class='center'><label><input
												name="checkBoxId" value="${(page.id)!}" type='checkbox'
												del-id="${(page.id)!}" /><span class="lbl"></span></label></td>
										<td class='hidden-phone'>${(page.compName)!}</td>
										<td class='hidden-phone'>${(page.title)!}</td>
										<td><img style="width: 45px; height: 45px;" src="${imgurl}${(page.pic)!}"></td>
										<td class='hidden-phone'>${(page.summary)!}</td>
										<td class='hidden-phone'>${(page.createAdminName)!}</td>
										<td class='hidden-phone'>${(page.createTime?string("yyyy-MM-dd HH:mm:ss"))!}</td>
										<td>
											<div id="operation"
												class='hidden-phone visible-desktop btn-group'>
												<a id='editObj' data-obj-id="${(page.id)!}"
													class='btn btn-mini btn-warning' title="编辑"><i
													class='icon-edit'></i></a> <a id='deleteObj'
													data-obj-id="${(page.id)!}" class='btn btn-mini btn-danger'
													title="删除"><i class='icon-trash'></i></a>
											</div>
										</td>
									</tr>
									</#list> </#if>
								</tbody>
							</table>

							<div class="page-header position-relative">
								<table style="width: 100%;">
									<tbody>
										<tr>
											<td style="vertical-align: top;"><a id="add"
												class="btn btn-small btn-success">新增</a> <a id="batch-del"
												class="btn btn-small btn-danger" title="批量删除"><i
													class="icon-trash"></i></a></td>
											<td style="vertical-align: top;">
												<div class="pagination"
													style="float: right; padding-top: 0px; margin-top: 0px;">
													<ul>
														<#if pageList ??>
														<li><a>共<font color="red">${(pageList.total)!}</font>条
														</a></li>
														<li><input type="number" value="" id="toGoPage"
															style="width: 50px; text-align: center; float: left"
															placeholder="页码"></li>
														<li style="cursor: pointer;"><a onclick="gotoPage();"
															class="btn btn-mini btn-success">跳转</a></li>
														<!-- <li><a onclick="gotoPage(1);" class="btn btn-primary">首页</a></li> -->
														<li><a onclick="gotoPage('up');"
															class="btn btn-primary">上页</a></li>
														<li><a onclick="gotoPage('down');"
															class="btn btn-primary">下页</a></li>
														<!-- <li><a onclick="gotoPage();" class="btn btn-primary">尾页</a></li> -->
														<li><a>第${(pageList.currPage)!}页</a></li> </#if>
													</ul>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
					<script type="text/javascript">
		function search(){
			$("#currPage").val(1);	
			$("#submitForm").submit();
		}
		function gotoPage(pageType){
			var currP = parseInt($("#currPage").val());
			var totalPage = Math.ceil(${(pageList.total/pageList.pageSize)!});
			if(pageType=='up'){
				if(currP==1){
					var currPage = parseInt(1);
				}else{
					var currPage = parseInt($("#currPage").val())-1;	
				}
				$("#currPage").val(currPage);	
			}else if(pageType=='down'){
				if(currP==totalPage){
					var currPage = parseInt(totalPage);
				}else{
					var currPage = parseInt($("#currPage").val())+1;	
				}
				$("#currPage").val(currPage);
			}
			$("#submitForm").submit();
		}
		</script>
					<!-- PAGE CONTENT ENDS HERE -->
				</div>
				<!--/row-->
			</div>
			<!--/#page-content-->
		</div>
		<!-- #main-content -->
	</div>
	<!--/.fluid-container#main-container-->
	<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse"> <i
		class="icon-double-angle-up icon-only"></i>
	</a>
	<!-- basic scripts -->
	<script src="${base}/static/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
		window.jQuery || document.write("<script src='${base}/static/js/jquery-1.9.1.min.js'>\x3C/script>");
		</script>

	<script src="${base}/static/js/bootstrap.min.js"></script>
	<!-- page specific plugin scripts -->

	<script type="text/javascript"
		src="${base}/static/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="${base}/static/js/jquery.dataTables.bootstrap.js"></script>
	<!-- ace scripts -->
	<script src="${base}/static/js/ace-elements.min.js"></script>
	<script src="${base}/static/js/ace.min.js"></script>
	<!-- inline scripts related to this page -->

	<script type="text/javascript"
		src="${base}/static/js/chosen.jquery.min.js"></script>
	<!-- 下拉框 -->
	<script type="text/javascript"
		src="${base}/static/js/bootstrap-datepicker.min.js"></script>
	<!-- 日期框 -->
	<script type="text/javascript" src="${base}/static/js/bootbox.min.js"></script>
	<!-- 确认窗口 -->

	<script type="text/javascript" src="${base}/plugins/layer2.0/layer.js"></script>

	<script type="text/javascript">
		function reload_page(){
			window.location.reload();//刷新当前页面
		}
		$(function() {
			//赛事下拉框内容
			jQuery.ajax({
				url:'${base}/competition/find.do',
				type: 'POST',
				dataType :'json',
				success : function(data){
					 //console.log(data);
					 var jsondata = data.data;
					 if(jsondata != null){
						//var jsondata = eval("("+data+")");
						for(var i = 0;i< jsondata.length;i++){
							var id = jsondata[i].id;
							var title = jsondata[i].title;
						    var opt= '';
						    opt += "<option value='" + id + "'>" + title + "</option>";
							$("#compId").append(opt);
						}
					} 
				}
			});
			
			$("#operation #editObj").on('click',function(){
				var id = $(this).attr("data-obj-id");
				//iframe层-父子操作
				layer.open({
					title:'编辑动态',
				    type: 2,
				    area: ['1000px', '750px'],
				    fix: true, //不固定
				    maxmin: false,
				    content: '${base}/competition/news/goEdit.do?id='+id
				});				
				//console.log($(this).attr("data-obj-id"));
			});
			
			//删除
			$("#operation #deleteObj").on('click',function(){
				console.log($(this).attr("data-obj-id"));
				var id = $(this).attr("data-obj-id");
				$.ajax({
		             type: "POST",
		             url: "${base}/competition/news/delete.do",
		             data: {id:id},
		             dataType: "json",
		             success: function(data){
		            	 if(data.success == true){
	            			layer.msg('数据删除成功', {
	            				shade: [0.9, '#000'],
	            			    icon: 6,
	            			    time: 1500 //2秒关闭（如果不配置，默认是3秒）
	            			}, function(){
	            			    //do something
	            				reload_page();
	            			});		            		 
		            	 }else{
	            			layer.msg('数据删除失败', {
	            				shade: [0.9, '#000'],
	            			    icon: 6,
	            			    time: 1500 //2秒关闭（如果不配置，默认是3秒）
	            			},function(){
	            				return;
	            			});
		            	 }
		             }
		         });				
				
			});	
			
			//批量删除
			$("#batch-del").on('click',function(){
				 var $chk = $("[name = checkBoxId]:checkbox").filter(":checked");
				 //console.log($chk.length);
				 if ($chk.length > 0){
					//信息框-提醒框
					layer.confirm('确定批量删除吗？', {icon: 3}, function(index){
					    layer.close(index);
					    var i = 0;
					    var len = $chk.length;
					    var ids = '';
					    $chk.each(function() {
					    	var id = $(this).attr("del-id");
					    	if (i < len - 1){
					    		ids += id+",";
					    	}else{
					    		ids += id;
					    	}
					    });
					    //alert("ids = " + ids);
						$.ajax({
				             type: "POST",
				             url: "${base}/competition/news/delByIds.do",
				             data: {ids:ids},
				             dataType: "json",
				             success: function(data){
				            	 if(data.success){
			            			layer.msg('数据删除成功', {
			            				shade: [0.9, '#000'],
			            			    icon: 6,
			            			    time: 1500 //2秒关闭（如果不配置，默认是3秒）
			            			}, function(){
			            			    //do something
			            				reload_page();
			            			});		            		 
				            	 }else{
			            			layer.msg('数据删除失败', {
			            				shade: [0.9, '#000'],
			            			    icon: 6,
			            			    time: 1500 //2秒关闭（如果不配置，默认是3秒）
			            			},function(){
			            				return;
			            			});
				            	 }
				             }
				         });		
					   
					});
				 }else{
					 layer.msg("请至少选择一条记录进行删除！");
				 }
			});
			//日期框
			$('.date-picker').datepicker();			
			//下拉框
			$(".chzn-select").chosen(); 
			$(".chzn-select-deselect").chosen({allow_single_deselect:true}); 
			
			//新增
			$("#add").on('click',function(){
				//iframe层-父子操作
				layer.open({
					title:'新增动态',
				    type: 2,
				    area: ['1000px', '750px'],
				    fix: true, //不固定
				    maxmin: false,
				    content: '${base}/competition/news/goAdd.do'
				});
			});
			
			//复选框
			$('table th input:checkbox').on('click' , function(){
				var that = this;
				$(this).closest('table').find('tr > td:first-child input:checkbox')
				.each(function(){
					this.checked = that.checked;
					$(this).closest('tr').toggleClass('selected');
				});
					
			});
			// 发布or取消发布
			$("#operation #examineObj").on('click',function(){
				//console.log($(this).attr("data-obj-id"));
				var id = $(this).attr("data-obj-id");
				var stat = $(this).attr("data-obj-stat");
				layer.confirm('确定要更改发布状态吗？', {icon: 3}, function(index){
					$.ajax({
			             type: "POST",
			             url: "${base}/sport/match/release.do",
			             data: {id:id,releaseStat:stat},
			             dataType: "json",
			             success: function(data){
			            	 if(data.success){
		            			layer.msg('操作成功', {
		            				shade: [0.9, '#000'],
		            			    icon: 6,
		            			    time: 1500 //2秒关闭（如果不配置，默认是3秒）
		            			}, function(){
		            			    //do something
		            				reload_page();
		            			});		            		 
			            	 }else{
		            			layer.msg('操作失败', {
		            				shade: [0.9, '#000'],
		            			    icon: 6,
		            			    time: 1500 //2秒关闭（如果不配置，默认是3秒）
		            			},function(){
		            				return;
		            			});
			            	 }
			             }
			         });
					});	
				
			});
		});
		</script>
</body>
</html>