<!DOCTYPE html>
<html>

	<head>
		<link href="/static/css/common.css" rel="stylesheet" />
		<link href="/static/css/data-schedule.css" rel="stylesheet" />
		<#include "/common/head.htm"/>
	</head>

	<body>
		<div class="header">
			<#include "/common/header.htm"/>
		</div>

		<div class="wrapper">
			<div class="topNav">
				<div class="curNav">
					<span class="A">当前轮次</span>
					<span class="B js-nav-cur">1</span>
				</div>
				<ul class="nav-cho">
					<#if rounds??>
						<#list rounds as page>
							<#if page_index == 0>
								<li class="C"><a class="cur">${page_index+1}</a></li>
								<#else>
									<li class="C"><a>${page_index+1}</a></li>
							</#if>
						</#list>
					</#if>
				</ul>
			</div>
			<div class="jfb">
				<div class="tab"><a class="cur" href="###" tag="match">积分榜</a><a class="more" href="###">更多</a></div>
				<div class="integr">
					<div class="sub_tab"><span class="date">名次</span><span>球队</span><span class="score">胜/负/平</span><span>积分</span></div>
					<ul>
						<#if scoreboard??>
							<#list scoreboard as page>
								<#if page_index == 0>
									<li class="cl"><span class="date">${page_index+1}</span><span class="name"><img src="${(page.teamIcon)!}" border="0">${(page.teamName)!}</span><span class="score">${(page.win)!}/${(page.lose)!}/${(page.draw)!}</span><span>${(page.score)!}</span></li>
									<#else>
										<li><span class="date">${page_index+1}</span><span class="name"><img src="${(page.teamIcon)!}" border="0">${(page.teamName)!}</span><span class="score">${(page.win)!}/${(page.lose)!}/${(page.draw)!}</span><span>${(page.score)!}</span></li>
								</#if>
							</#list>
						</#if>
					</ul>
				</div>
			</div>
			<div class="nav-ring">
				<a class="lt" href="###"><&nbsp;上一轮</a>
				<span class="nav-ring-sw">第<i></i>轮</span>
				<a class="rt" href="###">下一轮&nbsp;></a>
			</div>
			<div class="nav-ring-dt">
				<ul>
				</ul>
			</div>
			<div class="sche">
				<div class="pagenav">
				</div>
			</div>
		</div>
		<script src="/static/js/footer.js"></script>
		<script src="/static/js/data-schedule.js"></script>
	</body>

</html>