<div class="partner">
		<dl>
			<dt>主办单位</dt>
			<dd><img src="/static/img/partner1.png" border="0"></dd>
		</dl>
		<dl>
			<dt>冠名企业</dt>
			<dd><img src="/static/img/partner2.png" border="0"></dd>
		</dl>
		<dl>
			<dt>独家运营</dt>
			<dd><img src="/static/img/partner3.png" border="0"></dd>
		</dl>
		<dl>
			<dt>赞助企业</dt>
			<dd><img src="/static/img/partner4.png" border="0"></dd>
		</dl>
		<dl>
			<dt>合作媒体</dt>
			<dd><img src="/static/img/partner5.png" border="0"></dd>
		</dl>
		<dl>
			<dt>友情链接</dt>
			<dd><img src="/static/img/partner6.png" border="0"></dd>
		</dl>
</div>