<div class="wrapper">
	<div class="topbar"><a class="logo" href="/index.htm"></a>
		<div class="login_status">
			<a class="p_center" href="/user/toPerson.htm">个人中心</a>
			<#if user ??><#else><a class="login_btn" href="###">登录</a><a href="/user/toRegiest.htm">注册</a></#if>
		</div>
	</div>
	<div class="nav">
		<ul>
			<#if menuList ??>
				<#list menuList as menu>
					<li class="<#if cur==menu_index>cur</#if>" tag="${(menu_index * 140)}">
						<#if menu.homeMenuDto.issingle == 1>
							<a href="/menu/index.htm?mId=${(menu.homeMenuDto.id)!}&cur=${(menu_index)}">
						<#else>
							<a href="${(menu.homeMenuDto.menuUrl)!}?cur=${(menu_index)}">							
						</#if>
							${(menu.homeMenuDto.cname)!}<br><span>${(menu.homeMenuDto.ename)!}</span>
						</a>
						<#if (menu.secondList??)>
							<p>
								<#list menu.secondList as ssm>
									<#if ssm.issingle == 1>
										<a href="/menu/index.htm?mId=${(ssm.id)!}&cur=${(menu_index)}">${(ssm.cname)!}</a>
									<#else>
										<a href="${(ssm.menuUrl)!}?cur=${(menu_index)}">${(ssm.cname)!}</a>
									</#if>
								</#list>
							</a>
						</#if>
					</li>
				</#list>
			</#if>
<!-- 		<li class="cur" tag="0"><a href="/data-schedule.htm">首 页<br><span>HOME</span></a></li>
			<li tag="140"><a href="/data-schedule.htm">新闻公告<br><span>NEWS</span></a></li>
			<li tag="280"><a href="/data-schedule.htm">数据中心<br><span>DATA</span></a></li>
			<li tag="420"><a href="/va/data-schedule.htm">视频图集<br><span>VIDEO</span></a></li>
			<li tag="560"><a href="/data-schedule.htm">参赛球队<br><span>TEAM</span></a></li>
			<li tag="700"><a href="/data-schedule.htm">商务合作<br><span>COOPERATION</span></a></li>
 -->		</ul>
		<div class="mark"></div>
	</div>
</div>
<div class="login_popup">
	<div class="login_form">
		<ul class="wclogin_box">
			<div id="login_container"></div>
		</ul>
			<ul>
				<form id="login_form">
					<li><label class="user"></label><input id="login_username" name="userAccount" type="text" placeholder="邮箱/手机"></li>
					<li><label class="password"></label><input id="login_password" name="password" type="password" placeholder="登录密码"></li>
				</form>
				<input id="re_pw" type="checkbox">&nbsp;&nbsp;<label class="rem" for="re_pw">两周内自动登录</label>
				<input type="button" class="login_submit" value="登   录">
				<p class="tip">还不是聚运动会员，<a href="/user/toRegiest.htm">立即注册！</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/user/forget.htm" style="color:red;">忘记密码？</a></p>
			</ul>
			<div class="bottom_bar">
				<span>其它登录方式</span><a class="sina" href="###"></a><a class="wechat" href="###"></a><a id="qqLoginBtn" href="###"></a>
			</div>
			<a class="close" href="###"></a>
	</div>
</div>
<script type="text/javascript">
$(function(){
	//头部调用登录框事件
	$('.login_btn').on('click',function(){
		open_login();
	})
	$('a.wechat_login, a.wechat').on('click',function(){
		open_login('wechat');
	})
	//登录框关闭事件
	$('.close').on('click',function(){
		$(this).closest('.login_popup').removeClass('open')
	})
	$('.rem').on('click',function(){
		$(this).toggleClass('cur')
	});
	
	
	$(".login_submit").on('click',function(){
		var ajaxParams = $("#login_form").serialize();
		$.ajax({
			url:'/login/do.htm',
			type: 'POST',  
			dataType: 'json',
			data:ajaxParams,
			success:function(data){
				if(data.status == 200){
					layer.msg('登陆成功', {
						  icon: 1,
						  time: 2000 //2秒关闭（如果不配置，默认是3秒）
						}, function(){
						  window.location.reload();//登陆成功刷新当前页面 
						});
				}else{
					layer.msg(data.message);
				}
			}
		})
	});

});

function open_login(n){
	$('.login_popup').addClass('open')
	if(n=='wechat'){
		$('.wclogin_box').css('display','block').siblings('ul').css('display','none')
		$('.bottom_bar').css('display','none')
	}else{
		$('.wclogin_box').css('display','none').siblings('ul').css('display','block')	
		$('.bottom_bar').css('display','block')
	}
}
</script>
